body{

    width: 1200px;
    margin: 16px  auto;
    padding: 12px;
   
}

h2{
    margin: 10px auto;
}

h3.logo{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}
header{

    font-size: large;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightpink;

}
.nav-link{
   color: black;
  
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.nav-link:hover{
    color: red;

 }


.btn{
    background-color: pink;
    border-color: black;
    color: black;
}

.btn:hover{
    background-color: red;
    border-color: blue;
}

.img{
    max-width: 100%; 
      height: auto;
}

footer
{
    
    padding-top: 12px;
    text-align: center;
    background-color: lightpink;
}

.docker {

    width: 1160px;
    height: auto;
}
    
@media (max-width: 1200px) {
    body {
      width: 90%;
    }
  }
   